# Virtual environment
venv/
ENV/
env/
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Flask specific
instance/
*.db
*.sqlite3

# Environment variables
.env
*.env

# Logs
*.log

# VSCode settings
.vscode/
.idea/

# Mac / Windows specific
.DS_Store
Thumbs.db
